@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-blue-1000 {
  background-color: rgb(17, 17, 48);
}
.btn:active {
  transform: scale(0.9);
}
.widths {
  width: 500px;
}
@media screen and (max-width: 520px) {
  .widths {
    width: 300px;
  }
}
@media screen and (max-width: 300px) {
  .widths {
    width: 250px;
  }
}
